<!DOCTYPE html>
<html lang="en">
<div th:replace="fragments/head :: head"></div>
<body>
<div th:replace="fragments/nav :: nav-admin"></div>

<div class="container">
    <h1 class="display-2 mb-5">Edit a product</h1>
    <a href="/admin/products" class="btn btn-dark mb-3">Back to products</a>

    <div th:if="${message}" th:text="${message}" th:class="${'alert ' + alertClass }"></div>

    <form th:action="@{'/admin/products/edit'}" th:object="${product}" enctype="multipart/form-data" method="post">

        <div th:if="${#fields.hasErrors('*')}" class="alert alert-danger">
            There are errors in the form
        </div>

        <div class="form-group">
            <label>Name</label>
            <input type="text" class="form-control mb-3" th:field="*{name}" placeholder="Name">
            <span class="error" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></span>
        </div>

        <div class="form-group">
            <label>Description</label>
            <textarea th:field="*{description}" rows="10" class="form-control" placeholder="Description" id="editor"></textarea>
            <span class="error" th:if="${#fields.hasErrors('description')}" th:errors="*{description}"></span>
        </div>

        <div class="form-group">
            <label>Product image</label>
            <input type="file" class="form-control mb-3" name="photo" placeholder="Photo" th:id="file">
            <img width="100px" th:src="@{${(product.image != null) ? (product.imagePath) : productOldImage}}" id="imgPreview">
        </div>

        <div class="form-group">
            <label>Price</label>
            <input type="text" class="form-control mb-3" th:field="*{price}" placeholder="10 or 20.12">
            <span class="error" th:if="${#fields.hasErrors('price')}" th:errors="*{price}"></span>
        </div>

        <div class="form-group">
            <label>Category</label>
            <select class="form-control mb-3" th:field="*{category}">
                <option th:value="0">Choose a category</option>
                <option th:each="cat: ${categories}" th:value="${cat.id}" th:text="${cat.name}"></option>
            </select>
            <span class="error" th:if="${#fields.hasErrors('category')}" th:errors="*{category}"></span>
        </div>

        <input type="hidden" th:field="*{id}" th:value="*{id}">

        <button class="btn btn-dark mt-3 mb-3">Edit</button>


    </form>
</div>

</body>
<div th:replace="fragments/footer :: footer"></div>
</html>

<script>
    $(function (){
        $("#file").change(function (){
           readUrl(this);
        });
    })
</script>