<!doctype html>
<html lang="en">
<div th:replace="fragments/head :: head"></div>

<body>
<div th:replace="fragments/nav :: nav-admin"></div>
<div class="container">
    <h1 class="display-2 mb-5">Products</h1>
    <a href="/admin/products/add" class="btn btn-success mt-1">Add new product</a>

    <div th:if="${message}" th:text="${message}" th:class="${'alert ' + alertClass + ' mt-3'}"></div>

    <div th:if="${!products.empty}">
        <table class="table mt-5">
            <tr class="home">
                <th>Name</th>
                <th>Image</th>
                <th>Category</th>
                <th>Price</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>

            <tr th:each="product : ${products}">
                <td th:text="${product.name}"></td>
                <td>
                    <a th:href="@{'/product/' + ${product.id}}">
                        <img width="100px" height="100px" th:src="@{${product.imagePath}}">
                    </a>
                </td>
                <td th:text="${product.categoryName}"></td>
                <td th:text="${product.price}"></td>
                <td><a class="btn btn-primary" th:href="@{'/admin/products/edit/' + ${product.id}}">Edit</a></td>
                <td><a class="btn btn-danger confirmDeletion" th:href="@{'/admin/products/delete/' + ${product.id}}">Delete</a></td>
            </tr>
        </table>
    </div>

    <div th:replace="fragments/pagination"></div>


    <div th:unless="${!products.empty}">
        <h4 class="display-4">There are no Products at the moment</h4>
    </div>
</div>

<div th:replace="fragments/footer :: footer"></div>

</body>
</html>
