<!doctype html>
<html lang="en">
<div th:replace="fragments/head :: head"></div>

<body>
<div th:replace="fragments/nav :: nav-admin"></div>
<div class="container">
    <h1 class="display-2 mb-5">Users</h1>

    <div class="btn-group" role="group" aria-label="Basic example">
        <a href="/admin/users/exportPdf" class="btn btn-danger btn-sm">Export as PDF</a>
        <a href="/admin/users/exportExel" class="btn btn-success btn-sm">Export as Exel</a>
        <a href="/admin/users/exportCsv" class="btn btn-warning btn-sm">Export as CSV</a>
    </div>

    <div th:if="${!users.empty}">
        <table class="table mt-5">
            <tr class="home">
                <th>ID</th>
                <th>Username</th>
                <th>Email</th>
                <th>Phone number</th>
                <th>Is Admin</th>
                <th>Enabled</th>
            </tr>

            <tr th:each="user : ${users}">
                <td>
                    <a th:href="@{'/users/' + ${user.id}}" th:text="${user.id}"></a>
                </td>
                <td th:text="${user.username}"></td>
                <td th:text="${user.email}"></td>
                <td th:text="${user.phoneNumber}"></td>
                <td th:text="${user.isAdmin}"></td>
                <td th:if="${!user.isAdmin}">
                    <a href="#" class="userStatus" th:attr="data-id=${user.id}">
                        <p th:class="${user.id} + 'status'" th:text="${user.enabled}"></p>
                    </a>
                </td>
            </tr>
        </table>
    </div>

    <div th:replace="fragments/pagination"></div>


    <div th:unless="${!users.empty}">
        <h4 class="display-4">There are no Users at the moment</h4>
    </div>
</div>

<div th:replace="fragments/footer :: footer"></div>


</body>

<script>

    $(".userStatus").click(function (e){
        e.preventDefault();
        let id = $(this).attr("data-id");
        let url = "/admin/users/" + id + "/flipEnabledStatus";
        $.get(url,{}, function (data) {
            $("." + id + "status").html(data);
        });
    });

</script>


</html>


