<div sec:authorize="!hasAuthority('ROLE_ADMIN')" th:fragments="card" th:if="${checkoutDetailsPage == null}">
    <div th:if="${session.containsKey('card')}" class="card cartActive bg-dark text-white p-3 mt-3">
        <div th:replace="fragments/cardInfo.html :: cardInfo"></div>
    </div>
    <div class="card cartInactive" th:unless="${session.containsKey('card')}">
        <p>Your card is empty.</p>
    </div>
</div>