<nav class="navbar navbar-expand-sm navbar-dark bg-dark mb-3" th:fragment="nav-front">
    <div class="container">
        <a class="navbar-brand" href="/">CMS ShoppingCard</a>
        <ul class="navbar-nav">
            <li sec:authorize="hasAuthority('ROLE_ADMIN')" class="nav-item active">
                <a th:href="@{'/admin/products'}" class="nav-link">Admin page</a>
            </li>
            <li class="nav-item active" th:each="page: ${commonPages}"  th:if="${page.slug != 'home'}">
                <a class="nav-link" th:href="@{'/' + ${page.slug}}" th:text="${page.title}"></a>
            </li>
        </ul>

        <ul class="float-right navbar-nav" th:if="${principal == null}">
            <li class="nav-item active">
                <a th:href="@{'/register'}" class="nav-link">Register</a>
            </li>
            <li class="nav-item active">
                <a th:href="@{'/login'}" class="nav-link">Login</a>
            </li>
        </ul>


        <form th:if="${principal != null}" th:action="@{'/logout'}" method="post">
            <a th:href="@{'/users/' + ${#authentication.getPrincipal().getId()}}" class="text-white mr-3 text-decoration-none" th:text="${'Hi ' + principal}"></a>
            <button class="btn btn-secondary">Logout</button>
        </form>

    </div>
</nav>

<nav class="navbar navbar-expand-sm navbar-dark bg-dark mb-3" th:fragment="nav-admin">
    <div class="container">
        <a class="navbar-brand" href="/">CMS ShoppingCard Home</a>
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="/admin/pages">Pages</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/admin/categories">Categories</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/admin/products">Products</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/admin/users">Users</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/admin/orders">Orders</a>
            </li>
        </ul>

        <form th:if="${principal != null}" th:action="@{'/logout'}" method="post">
            <a th:href="@{'/users/' + ${#authentication.getPrincipal().getId()}}" class="text-white mr-3 text-decoration-none" th:text="${'Hi ' + principal}"></a>
            <button class="btn btn-secondary">Logout</button>
        </form>
    </div>
</nav>