<!doctype html>
<html lang="en">

<head th:replace="fragments/head"></head>

<body>

<nav th:replace="fragments/nav :: nav-front"></nav>

<div class="container-fluid mt-5">
    <div class="row">
        <div th:replace="fragments/categories"></div>
        <div class="col"></div>
        <div class="col-7">
            <div class="overlay text-dark d-none">
                <h4 class="display-4 d-inline">You are being directed to PayPal</h4>
                <div class="spinner-grow spinner-grow-sm" role="status"></div>
                <div class="spinner-grow spinner-grow-sm" role="status"></div>
                <div class="spinner-grow spinner-grow-sm" role="status"></div>
            </div>
            <h2 class="display-4">Cart Overview</h2>
            <table class="table">
                <tr>
                    <th>Product</th>
                    <th>Image</th>
                    <th>Quantity</th>
                    <th>Price</th>
                    <th>Total</th>
                </tr>
                <tr th:each="element: ${card}">
                    <td th:text="${element.value.name}"></td>
                    <td>
                        <a th:href="@{'/product/' + ${element.value.id}}">
                            <img style="width: 100px;" th:src="@{${element.value.imagePath}}"/>
                        </a>
                    </td>
                    <td>
                        <span th:class="${element.value.id} + '_quantity'" th:text="${element.value.quantity}"></span>
                        <a th:attr="data-id=${element.value.id}" class="btn btn-success btn-sm incrementQuantity">+</a>

                        <a th:href="@{'/card/subtract/' + ${element.value.id}}" th:attr="data-id=${element.value.id}"
                           class="btn btn-primary btn-sm decrementQuantity">-</a>
                        <a th:attr="data-id=${element.value.id}" th:href="@{'/card/remove/'+${element.value.id}}"
                           class="btn btn-danger btn-sm remove">remove</a>
                    </td>
                    <td th:class="${element.value.id} + '_price'" th:text="'€' + ${element.value.price}"></td>

                    <td th:class="${element.value.id} + '_subTotal' "
                        th:with="formattedTotal=${element.value.price} * ${element.value.quantity}"
                        th:text="'€' + ${#numbers.formatDecimal(formattedTotal,2,'COMMA',2,'POINT')}">
                    </td>
                </tr>
                <tr>
                    <td class="text-right" colspan="4"><b>Grand Total:</b></td>
                    <td colspan="1" class="grandTotal"
                        th:text="'€' + ${#numbers.formatDecimal(cardTotal,2,'COMMA',2,'POINT')}"></td>
                </tr>
                <tr>
                    <td>
                        <a th:href="@{'/card/clear'}" class="btn btn-danger">Clear Card</a>
                    </td>

                    <td colspan="4" sec:authorize="isAuthenticated()">
                        <span class="btn btn-success checkout">Checkout</span>
                    </td>

                    <td colspan="4" sec:authorize="isAnonymous()">
                        <a th:href="@{'/login'}" class="btn btn-success">Login to checkout</a>
                    </td>
                </tr>
            </table>
        </div>
        <div class="col"></div>
    </div>
</div>


<div th:replace="fragments/paypalForm"></div>

<div th:replace="fragments/footer"></div>

<script th:src="@{'/js/cardDetails.js'}"></script>

</body>

</html>