<!doctype html>
<html lang="en">

<head th:replace="fragments/head"></head>

<body>

    <nav th:replace="fragments/nav :: nav-front"></nav>

    <div class="container-fluid mt-5">
        <div class="row">
            <div th:replace="fragments/categories"></div>
            <div class="col"></div>
            <div class="col-6 text-center">

                <h3 class="display-4">Login</h3>

                <div class="alert alert-danger" th:if="${param.error}">
                    Invalid credentials
                </div>

                <form method="post" th:action="@{/login}">
                
                    <div class="form-group">
                        <label>Username:</label>
                        <input type="text" class="form-control" name="username" id="username" placeholder="Username">
                    </div>

                    <div class="form-group">
                        <label>Password:</label>
                        <input type="password" class="form-control" name="password" id="password" placeholder="Password">
                    </div>

                    <button class="btn btn-danger mt-2">Login</button>

                    <p>
                        Click <a th:href="@{/register}" class="mt-2">here</a> to register.
                    </p>
        
                </form>

            </div>
            <div class="col"></div>
        </div>
    </div>

    <div th:replace="fragments/footer"></div>

</body>

</html>