<!doctype html>
<html lang="en">

<head th:replace="fragments/head"></head>

<body>
    <nav th:replace="fragments/nav :: nav-front"></nav>

    <div class="container-fluid mt-5">
        <div class="row">
            <div th:replace="fragments/categories"></div>
            <div class="col"></div>
            <div class="col-8">
                <h2 class="display-3 mb-5" th:text="${product.name}"></h2>
                <div class="row">
                    <div class="col">
                        <p>
                            <img style="width:650px;" th:src="@{${product.imagePath}}">
                        </p>
                        <h4 th:text="${product.name}"></h4>
                        <div class="desc" th:utext="${product.description}"></div>
                        <p th:text="'€' + ${product.price}"></p>

                        <div style="position: relative;" sec:authorize="!hasAuthority('ROLE_ADMIN')">
                            <p>
                                <a class="btn btn-primary addToCard" th:attr="data-id=${product.id}">Add to card</a>
                            </p>
                            <div class="btn btn-sm btn-success hide productAdded">Product added</div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <div th:replace="fragments/footer"></div>

    <script th:src="@{'/js/addToAndCleanCard.js'}"></script>

</body>

</html>