<!doctype html>
<html lang="en">

<head th:replace="fragments/head"></head>

<body>

<nav th:replace="fragments/nav :: nav-admin"></nav>

<div class="container-fluid mt-5">
    <div class="row">
        <div class="col"></div>
        <div class="col-7">
            <h2 class="display-4 mb-5">Order detail</h2>


            <dl class="row">
                <dt class="col-sm-3">Ordered by:</dt>

                <dd class="col-sm-9">
                    <a class="text-decoration-none" th:href="@{'/users/' + ${order.user.id}}" th:text="${order.user.username}"></a>
                </dd>
                <dt class="col-sm-3">Ordered in :</dt>
                <dd class="col-sm-9" th:text="${#dates.format(order.dateCreated, 'dd-MM-yyyy | HH:mm')}"></dd>
            </dl>


            <table class="table">
                <tr>
                    <th>Product</th>
                    <th>Quantity</th>
                    <th>Price</th>
                    <th>Total</th>
                </tr>
                <tr th:each="orderItem : ${order.orderItems}">
                    <td th:text="${orderItem.itemName}"></td>
                    <td th:text="${orderItem.quantity}"></td>
                    <td th:text="'€' + ${orderItem.unitPrice}"></td>
                    <td
                        th:with="formattedTotal=${orderItem.unitPrice} * ${orderItem.quantity}"
                        th:text="'€' + ${#numbers.formatDecimal(formattedTotal,2,'COMMA',2,'POINT')}">
                    </td>
                </tr>
                <tr>
                    <td class="text-right" colspan="4"><b>Grand Total:</b></td>
                    <td colspan="1"
                        th:text="'€' + ${#numbers.formatDecimal(order.totalPrice,2,'COMMA',2,'POINT')}"></td>
                </tr>
            </table>
        </div>
        <div class="col"></div>
    </div>
</div>

<div th:replace="fragments/footer"></div>