<!doctype html>
<html lang="en">
<div th:replace="fragments/head :: head"></div>

<body>
<div th:replace="fragments/nav :: nav-admin"></div>
<div class="container">
    <h1 class="display-2 mb-5" th:text="'Edit ' + (${categoryTitle} ?: ${category.name}) ">Edit a Category</h1>

    <a href="/admin/categories" class="btn btn-dark mb-3">Back to categories</a>

    <div th:if="${message}" th:text="${message}" th:class="${'alert ' + alertClass }"></div>

    <form method="post" th:action="@{'/admin/categories/edit'}" th:object="${category}">

        <div th:if="${#fields.hasErrors('*')}" class="alert alert-danger">
            There are errors in the form
        </div>

        <div class="form-group">
            <label>Name</label>
            <input type="text" class="form-control mb-3" th:field="*{name}" th:value="${category.name}" placeholder="Title">
            <span class="error" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></span>
        </div>

        <input type="hidden" th:field="*{id}" th:value="${category.id}">
        <input type="hidden" th:field="*{sorting}" th:value="${category.sorting}">
        <input type="hidden" th:field="*{slug}" th:value="${category.slug}">

        <button class="btn btn-dark mt-3 mb-3">Save</button>
    </form>


</div>

<div th:replace="fragments/footer :: footer"></div>

</body>
</html>
