<!doctype html>
<html lang="en">
<div th:replace="fragments/head :: head"></div>

<body>
<div th:replace="fragments/nav :: nav-admin"></div>
<div class="container">
    <h1 class="display-2 mb-5">Categories</h1>
    <a href="/admin/categories/add" class="btn btn-success mt-1">Add new</a>

    <div th:if="${message}" th:text="${message}" th:class="${'alert ' + alertClass + ' mt-3'}"></div>

    <div th:if="${!categories.empty}">
        <table class="table sorting mt-5" id="categories">
            <tr class="home">
                <th>Name</th>
                <th>Slug</th>
                <th>Delete</th>
            </tr>

            <tr th:each="category: ${categories}" th:id="'id_' + ${category.id}">
                <td th:text="${category.name}"></td>
                <td><a class="btn btn-primary" th:href="@{'/admin/categories/edit/' + ${category.id}}">Edit</a></td>
                <td><a class="btn btn-danger confirmDeletion" th:href="@{'/admin/categories/delete/' + ${category.id}}">Delete</a></td>
            </tr>
        </table>
    </div>

    <div th:replace="fragments/pagination"></div>
    <div th:unless="${!categories.empty}">
        <h4 class="display-4">There are no categories at the moment</h4>
    </div>
</div>


<div th:replace="fragments/footer :: footer"></div>

<script>

    let token = $("meta[name='_csrf']").attr("content");
    let header = $("meta[name='_csrf_header']").attr("content");
    $(document).ajaxSend(function (e, xhr) {
        xhr.setRequestHeader(header, token);
    });

    $("table#categories tbody").sortable({
        items: "tr",
        placeholder: "ui-state-highlight", // outline
        update: function(){
            let ids = $("table#categories tbody").sortable("serialize");
            let url = "/admin/categories/reorder";
            $.post(url, ids);
        }
    });
</script>

</body>
</html>
